<% @items.each do |item|  %>
      <td > <%= link_to "see this item", item_path(item) %> </td>
      <td > <%= item.title %> </td>
      <td> <%= item.description  %> </td>
      <td> <%= item.price  %> </td>
      <td> <%= item.image_url  %> </td>
<% end %>
